<app-welcome>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.lt-md="16px" fxLayoutGap="24px" fxFlex>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>

    <div fxFlex.xs="4 4 calc(4*100%/4 - 16px)" fxFlex.sm="8 8 calc(8*100%/8 - 16px)" fxFlex.gt-sm="5 5 calc(5*100%/12 - 24px)"
      fxLayout="column" [ngClass]="!(isHandset | async)!.matches ? '' : 'isMobile'">

      <mat-card class="mat-elevation-z0">

        <div *ngIf="!recovered" fxLayout="column" fxLayoutGap="4px">
          <h1>Esqueceu a sua password?</h1>
          <div fxLayout="column" fxLayoutGap="32px">
            <p class="mat-body-2">Introduza o endereço de email associado à sua conta, e iremos enviar-lhe um email com
              uma nova palavra-passe.</p>
            <form (ngSubmit)="resendPassword(recoverPassRxjs)" [formGroup]="recoverPassRxjs">
              <mat-card-content fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="start start"
                  fxLayoutGap.lt-md="24px">
                  <!-- <button mat-button [ngClass]="!(isHandset | async)!.matches ? '' : 'stretch'" color="primary" (click)="navigateBack()">
                    <mat-icon>arrow_back</mat-icon>
                    Voltar ao Login
                  </button> -->
                  <a [routerLink]="['/login']" class="back">
                    <mat-icon>arrow_back</mat-icon>
                    Voltar ao Login
                  </a>
                  <button mat-flat-button [ngClass]="!(isHandset | async)!.matches ? '' : 'stretch'" color="primary"
                    type="submit" [disabled]="!recoverPassRxjs.valid">
                    Enviar
                  </button>
                </div>
              </mat-card-content>
            </form>
          </div>
        </div>

        <div *ngIf="recovered" fxLayout="column" fxLayoutGap="4px">
          <h1>Enviámos para o email {{ email.value }} instruções para redefinir a sua password.</h1>
          <div fxLayout="column" fxLayoutGap="32px">
            <p class="mat-body-2">Caso não encontre o email, verifique se:</p>
            <ul class="mat-body-2">
              <li>O email foi para o spam ou outra pasta;</li>
              <li>O email está correcto;</li>
              <li>O email corresponde ao da sua conta.</li>
            </ul>
            <mat-card-content fxLayout="column">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <!-- <button mat-button fxFlex="nogrow" color="primary" (click)="navigateBack()">
                  <mat-icon>arrow_back</mat-icon>
                  Voltar ao Login
                </button> -->
                <a [routerLink]="['/login']" class="back">
                  <mat-icon>arrow_back</mat-icon>
                  Voltar ao Login
                </a>
              </div>
            </mat-card-content>
          </div>
        </div>

      </mat-card>

      <p class="mat-body-2" fxLayoutAlign="center none" [ngClass]="!(isHandset | async)!.matches ? '' : 'stretch'"
        *ngIf="(isHandset | async)!.matches">
        Ainda não tem uma conta? &nbsp;
        <a href="https://liqui.do/pedido-de-contacto/">Criar Conta</a>
      </p>

      <div class="add-padding" [ngClass]="!(isHandset | async)!.matches ? '' : 'terms-mobile'" fxLayout="row"
        fxLayoutAlign="center center" fxLayoutAlign.xs="space-evenly center" fxLayoutAlign.sm="space-evenly center">
        <app-terms-conditions></app-terms-conditions>
      </div>
    </div>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>

    <div fxHide.lt-md fxFlex.gt-sm="4 4 calc(4*100%/12 - 24px)" fxLayoutAlign="center center">
      <app-welcome-text></app-welcome-text>
    </div>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>
  </div>
</app-welcome>










<!-- <app-welcome>

  <h1>Esqueceu a sua password?</h1>
  <p>Insira abaixo o seu email e ser-lhe-á enviada uma nova password.</p>

  <div class="form-section-info" *ngIf="!recovered">

    <form (ngSubmit)="resendPassword(recoverForm)" #recoverForm="ngForm" novalidate>

      <div [ngClass]="{'has-error': recoverForm.submitted && email.invalid}">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required [pattern]="emailPattern">
        <div *ngIf="recoverForm.submitted && email.invalid">
          <span>
            <img src="{{ assetPath }}/images/icons/error.svg" alt="error">
            <div *ngIf="email.errors.required" class="error-message">
              Email é obrigatório.
            </div>
            <div *ngIf="email.errors.pattern" class="error-message">
              Email inválido.
            </div>
          </span>
        </div>
      </div>

      <app-alert></app-alert>

      <button type="submit" class="button button-primary">confirmar</button>
    </form>
  </div>

  <div *ngIf="recovered">
    <div id="feedbackPositive" class="m-article__feedback-content positive open">
      <img src="{{ assetPath }}/images/icons/check-outline.svg" alt="Success">
      <p>
        <span>Enviámos uma nova password para o email {{model.email}}.</span>
      </p>
    </div>
    <div class="t-onboarding__info">
      <p>Não encontra o email? Verifique se:</p>
      <ul class="o-list-circle">
        <li>O email foi para o spam ou outra pasta;</li>
        <li>O email está correcto;</li>
        <li>O email corresponde ao da sua conta.</li>
      </ul>
    </div>
  </div>

</app-welcome> -->
