.add-padding {
  padding-top: 0.5rem;
  width: 100%;
}

.isMobile {
  mat-card {
    border-style: none;
  }
}

.stretch {
  width: 100%;
}

.terms-mobile {
  padding-top: 2.5rem;
}

a.back {
  .material-icons {
    font-size: 15px;
    width: 15px;
    position: relative;
    top: 3px;
    color: #03acc1;
  }
}
