<span fxLayout="row">
  <mat-icon fxLayoutAlign="start end" color="primary">done</mat-icon>
  Decisão em minutos
</span>
<span fxLayout="row">
  <mat-icon fxLayoutAlign="start end" color="primary">done</mat-icon>
  Aprovação até 75 000€
</span>
<span fxLayout="row">
  <mat-icon fxLayoutAlign="start end" color="primary">done</mat-icon>
  Processo simples, transparente e sem custos adicionais
</span>
<span fxLayout="row">
  <mat-icon fxLayoutAlign="start end" color="primary">done</mat-icon>
  Pagamento da fatura ao fornecedor em poucas horas
</span>
