<app-welcome>
  <div fxLayout=row fxLayoutAlign="center center" fxLayoutGap="24px" fxFlex>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>

    <div fxFlex.xs="4 4 calc(4*100%/4 - 16px)" fxFlex.sm="8 8 calc(8*100%/8 - 16px)" fxFlex.gt-sm="5 5 calc(5*100%/12 - 24px)"
      fxLayout="column" [ngClass]="!(isHandset | async)!.matches ? '' : 'isMobile'">

      <mat-card class="mat-elevation-z0">
        <mat-card-title>Alterar palavra-passe</mat-card-title>
        <mat-card-subtitle>Insira e confirme a sua nova palavra-passe</mat-card-subtitle>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm(resetPasswordForm)">
          <mat-card-content fxLayout="column">

            <mat-form-field appearance="outline">
              <input matInput [formControl]="password" placeholder="Nova palavra-passe" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="getEmptyPasswordError(0)">{{getEmptyPasswordError(1)}}.</mat-error>
              <mat-error *ngIf="getInvalidCharactersPasswordError(0)">{{getInvalidCharactersPasswordError(1)}}</mat-error>
              <mat-error *ngIf="getMinLenghtPasswordError(0)">{{getMinLenghtPasswordError(1)}}</mat-error>
              <mat-error *ngIf="getMaxLenghtPasswordError(0)">{{getMaxLenghtPasswordError(1)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <input matInput [formControl]="confirmPassword" placeholder="Confirme palavra-passe" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].touched &&
              resetPasswordForm.controls['confirmPassword'].hasError('mismatch')">As palavras-passe não são idênticas.</mat-error>
            </mat-form-field>
          </mat-card-content>

          <button mat-flat-button color="primary" text-transform: uppercase type="submit" style="float: right" [disabled]="!resetPasswordForm.valid">
            Alterar
          </button>
        </form>
      </mat-card>
    </div>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>

    <div fxHide.lt-md fxFlex.gt-sm="4 4 calc(4*100%/12 - 24px)" fxLayoutAlign="center center">
      <app-welcome-text></app-welcome-text>
    </div>

    <div fxHide.lt-md fxFlex.gt-sm="1 1 calc(1*100%/12 - 24px)"></div>

  </div>
</app-welcome>
