.signature {
    .main-content {
        margin-top: 2.5rem;
        min-height: 100%;
        overflow-y: hidden;
    }
    .template {
        max-width: 1280px;
        width: 100%;
        .container {
            padding: 0rem 1.5rem 1rem 1.5rem;
        }
        .container-mobile {
            padding: 0rem 1.5rem 1rem 1.5rem;
        }
    }
    .top {
        background-color: #ffffff;
        p {
            color: rgba(3, 54, 62, 0.8);
            margin: 0px;
        }
        .spacer {
            flex: 1 1 auto;
        }
        .logo {
            margin-top: 0.625rem;
            width: 8rem;
        }
        mat-icon {
            position: relative;
            font-size: 17px;
            top: 4px;
        }
        .link-color {
            color: #19b1c4;
            margin-left: auto;
        }
    }
}