<div fxLayout="row wrap" class="top-spacing">
    <div fxFlex="9 9 calc(9*100%/12 - 24px)" fxFlex.lt-md="3 3 calc(3*100%/4 - 16px)"></div>
    <div fxFlex="3 3 calc(3*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)">
        <svg width="100%" viewBox="0 0 823 371">
            <use xlink:href="assets/images/errors/connector-2.svg#Error-500"></use>
        </svg>
    </div>

    <div fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)"></div>
    <div fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/4 - 16px)">
        <div fxLayout="row wrap" fxFlex="4 4 calc(4*100%/4 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/2 - 16px)">
            <div fxFlex="4 4 calc(4*100%/4 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/2 - 16px)" fxLayoutAlign="center start"
                fxLayoutAlign.xs="center start" fxLayoutAlign.sm="center start" fxLayout="row wrap">
                <svg width="40%" viewBox="0 0 395 266" >
                    <use xlink:href="assets/images/errors/503.svg#Error-500"></use>
                </svg>
            </div>
        </div>
    </div>
    <div fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)"></div>

    <div class="message" fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)"></div>
    <div class="message" fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/4 - 16px)">
        <div fxLayout="row wrap" fxFlex="4 4 calc(4*100%/4 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/2 - 16px)">
            <div fxFlex="4 4 calc(4*100%/4 - 24px)" fxFlex.lt-md="2 2 calc(2*100%/2 - 16px)" fxLayoutAlign.gt-md="center start"
                 fxLayout="row wrap">
                <div fxFlex="100" fxFlex.lt-md="2 2 calc(2*100%/2 - 16px)" fxLayout="row wrap" fxLayoutAlign.gt-xs="center start" fxLayoutAlign.xs="center start">
                    <div fxFlex.gt-xs="40" fxFlex.xs="40" fxLayout="column">
                        <h2>Oops…</h2>
                        <h2>Estamos com algum problema no servidor</h2>
                    </div>
                    <div fxFlex="100" fxLayoutAlign="center start">
                        <a href="http://liqui.do/" mat-flat-button color="primary">VOLTAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message" fxFlex="4 4 calc(4*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)"></div>
    <div fxFlex="3 3 calc(3*100%/12 - 24px)" fxFlex.lt-md="1 1 calc(1*100%/4 - 16px)">
        <svg width="100%" viewBox="0 0 808 371">
            <use xlink:href="assets/images/errors/connector-1.svg#Error-500"></use>
        </svg>
    </div>
    <div fxFlex="9 9 calc(9*100%/12 - 24px)" fxFlex.lt-md="3 3 calc(3*100%/4 - 16px)"></div>
</div>
