a {
    color: #fff !important;
    margin-top:10px;
    margin-bottom: 5px;
}

.not-found-image-holder {
    margin-top: 20px;
}
h2 {
    margin-bottom: 0;
    color: #03363e;
    font-weight: 400;
    font-size: 16px;
}
.message {
    margin-top: 16px;
}

.top-spacing {
    padding: 20px;
}