<div class="outer">
    <div class="middle">
        <div class="inner">
            <img src="assets/images/logo/logo-small.svg" alt="small logo" />
            <p class="mat-display-1">Erro de suporte</p>
            <h1>A nossa App não é compatível com Internet Explorer. Utilize outro browser</h1>
            <div>
                <a href="https://www.google.pt/chrome/" target="_blank"><img src="assets/images/image-chrome.png" alt="Chrome"/></a>
                <a href="https://www.mozilla.org/pt-PT/firefox/new/" target="_blank"><img src="assets/images/image-firefox.png" alt="FireFox"/></a>
                <a href="https://www.microsoft.com/pt-pt/windows/microsoft-edge" target="_blank"><img src="assets/images/image-edge.png" alt="Edge"/></a>
                <a href="https://support.apple.com/pt_PT/downloads/safari" target="_blank"><img src="assets/images/image-safari.png" alt="Safari"/></a>
            </div>
        </div>
    </div>
</div>
