.top-space {
    margin-top: 1rem;
}

.breadcrumb-list {
    color: rgba(3, 54, 62, 0.6);
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    &:after {
        margin: 0px 10px;
        content: "/";
        color: rgba(3, 54, 62, 0.6);
        font-size: 12px;
    }
    &:last-of-type {
        &:after {
            display: none
        }
    }
}

.mat-icon {
    font-size: 15px;
    position: relative;
    top: 3px;
    color: #03acc1;
}

span {
    color: rgba(3, 54, 62, 0.6);
}