.not-found-image-holder {
    margin-top: 44px;
}
.mat-display-1 {
    margin-bottom: 0;
    text-align: center;
    color: rgba(3, 54, 62, 0.87);
}
.mat-body-1 {
    color: rgba(3, 54, 62, 0.7);
}
a {
    color: #fff !important;
}

