<div fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" fxFlex="12 12 calc(12*100%/12 - 24px)" fxFlex.xs="4 4 calc(4*100%/4 - 16px)"
    fxFlex.sm="8 8 calc(8*100%/8 - 16px)">
    <div class="not-found-image-holder" fxFlex="12 12 calc(12*100%/12 - 24px)" fxFlex.xs="4 4 calc(4*100%/4 - 16px)" fxFlex.sm="8 8 calc(8*100%/8 - 16px)" fxLayoutAlign="center center">
        <svg width="789px" viewBox="0 0 889 486">
            <use xlink:href="assets/images/errors/404.svg#Error-404"></use>
        </svg>
    </div>
    <div fxFlex="8 8 calc(12*100%/12 - 24px)" fxFlex.xs="4 4 calc(4*100%/4 - 16px)" fxFlex.sm="8 8 calc(8*100%/8 - 16px)" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">
        <div fxFlexOffset="24px" class="mat-display-1">Parece que está perdido</div>
        <div class="mat-body-1">Não conseguimos encontrar a página que procura</div>
        <div fxFlexOffset="64px">
            <a routerLink="/portal/dashboard/contracts" mat-flat-button color="primary">Voltar à página inicial</a>
        </div>
    </div>
</div>
