.mat-display-4 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-display-3 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-display-2 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-display-1 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-headline {
  color: rgba(0, 0, 0, 1.0);
}

.mat-title {
  color: rgba(0, 0, 0, 1.0);
}

.mat-subheading-2 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-subheading-1 {
  color: rgba(0, 0, 0, 1.0);
}

.mat-body-1 {
  color: rgba(0, 0, 0, 0.7);
}

.mat-body-2 {
  color: rgba(0, 0, 0, 0.8);
}

.mat-caption {
  color: rgba(0, 0, 0, 0.6);
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab {
  color: rgba(0, 0, 0, 1.0);
  text-transform: uppercase;
}

// .mat-input {
//   color: rgba(0, 0, 0, 1.0);
// }
